*.a
*.buildflags
*.d
*.gcda
*.gcno
*.html
*.la
*.lo
*.o
*.opensdf
*.sdf
*.so*
*.suo
*.tar*
*.zip
*Makefile
.deps
/aclocal.m4
/autom4te.cache
/build*/
/config.h
/config.h.in
/config.log
/config.status
/config/
/configure
/stamp-h1
app.info
autom4te.cache
bin
config.log
config.status
config/common.mk
config/config.h
config/targets.mk
coverage_report
GIT_REVISION
ipch
libexec
libtool
m4
Makefile
Makefile.in
share
SVN_REVISION

src/cacrypt

#Visual Studio files
*.[Cc]ache
*.[Oo]bj
*.aps
*.bak
*.exe
*.ilk
*.intermediate*
*.lastbuildstate
*.lib
*.log
*.log
*.ncb
*.opensdf
*.pch
*.pdb
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.tlog
*.unsuccessfulbuild
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
ipch/
obj/